doctype html
html
  head
    title= 'Days With Destiny'
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/node_modules/foundation-sites/dist/foundation-flex.min.css')
    link(rel='stylesheet', href='/public/foundation-icons/foundation-icons.css')
    link(rel='stylesheet', href='/public/css/odometer-theme-train-station.css')
    link(rel='stylesheet', href='/public/css/app.css')
    link(rel='stylesheet' href='/public/css/print.css' media='print')
    include ./partials/analytics.jade
    
  body
    div(class='row wrapper')  
      div(class='columns small-12 medium-10 medium-offset-1 large-8 large-offset-2')
        include ./partials/search.jade
      div(class='columns small-12 calendar')
        div(id='spinner' class='uil-ring-css')
          div
        div(id='statusText')
      div(class='columns small-12 calendar')
      div(class='cross-promotion columns small-12 medium-10 medium-offset-1 large-8 large-offset-2') Play Destiny on Xbox? Record GameDVR clips? Check out the other cool Destiny thing I made: #[a(href='http://guardian.theater' target='_blank') guardian.theater]
    script(src="//d3js.org/d3.v3.min.js")
    script(src="/public/js/time-counter.js")