.platform-switch {
  padding: 0;
  border: none;
  width: 72px;
}
.platform-switch .switch-paddle {
  height: 40px;
  width: 72px;
  display: block;
  background: #107C10;
}
.platform-switch .switch-paddle:after {
  height: 32px;
  width: 32px;
}
.platform-switch input:checked~.switch-paddle {
  background: #003791;
}
.ad {
  margin: 1em 0;
}
.days-without-sign {
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  color: rgb(30,36,43);
  background: rgba(245,245,245,0.5);
  border: solid 5px rgb(242, 193, 97);
  line-height: 1em;
  margin-bottom: .5em;
  font-family: 'Averia Serif Libre';
  padding: .25em 0;
}
#guardian-name {
  text-transform: initial;
}
.days-line {
  font-weight: bold;
  font-size: 1.75em;
  vertical-align: middle;
  line-height: 1.1em;
}
@media (max-width: 639px) {
  .days-without-sign {
    font-size: 2em;
  }
}
body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.destiny-day {
  stroke: #090;
  stroke-width: 2px;
}

.cross-promotion {
  margin-top: 2em;
}

.RdYlGn .q0-11{fill:rgb(254,224,139)}
.RdYlGn .q1-11{fill:rgb(253,200,120)}
.RdYlGn .q2-11{fill:rgb(253,174,97)}
.RdYlGn .q3-11{fill:rgb(249,159,87)}
.RdYlGn .q4-11{fill:rgb(244,109,67)}
.RdYlGn .q5-11{fill:rgb(235,75,50)}
.RdYlGn .q6-11{fill:rgb(215,48,39)}
.RdYlGn .q7-11{fill:rgb(195,20,38)}
.RdYlGn .q8-11{fill:rgb(165,0,38)}
.RdYlGn .q9-11{fill:rgb(100,0,15)}
.RdYlGn .q10-11{fill:rgb(50,0,0)}